<!DOCTYPE html>
<html>
<head>
    <title> {{get('title', 'Awesong')}}  </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap-theme.min.css" rel="stylesheet">
	<link href="bootstrap-glyphicons.css" rel="stylesheet">
	<link href="estilo.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		{{!base}}
	</div>

    <div id="footer">
        <hr />
        <div class="container">
            <p class="text-muted credit">
            Awesong 
            <a href="mailto:krlos.dnis@gmail.com">krlos.dnis@gmail.com</a>
            <a href="mailto:drigox90rih@gmail.com">drigox90rih@gmail.com</a>
            <a href="mailto:jpdiazvaz@gmail.com">jpdiazvaz@gmail.com</a>
            
            </p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="bootstrap.min.js"> </script>
	<script src="annyang.min.js"></script>
	<script src="speech.js"></script>
	<script src='jQuery.tubeplayer.min.js'></script>
</body>
</html>